<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackachieve">
    <!-- Giving permission to app access internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InitialCategoryScreen"></activity>
        <activity android:name=".RegisterShortGoal" />
        <activity android:name=".RegisterMainGoal" />
        <activity android:name=".ShortTermPageCareer" />
        <activity android:name=".ShortTermPageFun" />
        <activity android:name=".ShortTermPagePersonalDev" />
        <activity android:name=".ShortTermPageSpiritual" />
        <activity android:name=".ShortTermPageFinance" />
        <activity android:name=".ShortTermPageHealth" />
        <activity android:name=".ShortTermCardDesactive" />
        <activity android:name=".ShortTermCardActive" />
        <activity android:name=".LongTermCardHealth" />
        <activity android:name=".MenuPage" />
        <activity android:name=".ShortTermCardCompleted" />
        <activity android:name=".LongTermCardCompleted" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/slide_in_left" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ShortTermPageCompleted" />
        <activity android:name=".LongTermPageCompleted" />
        <activity android:name=".ShortTermCard" />
        <activity android:name=".ShortTermPage" />
        <activity android:name=".LongTermCard" />
        <activity android:name=".LongTermPage" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>